<footer class="footer">
	<div class="footer__top container">
		<navi class="footer__menu">
			<a href="#hero">О мероприятии</a>
			<a href="#speakers">Спикеры</a>
			<a href="#contact">Контакты</a>
		</navi>
		<div class="footer__social">
			<a href="https://vk.com/mir_bez_diabeta" target="_blank"><svg><use xlink:href="#icon-soc-vk"></use></svg></a>
			<a href="https://www.facebook.com/blog.food.is.medicine" target="_blank"><svg><use xlink:href="#icon-soc-fb"></use></svg></a>
			<a href="https://t.me/HaimLeibiman" target="_blank"><svg><use xlink:href="#icon-soc-tgm"></use></svg></a>
			<a href="https://www.instagram.com/mir_bez_diabeta" target="_blank"><svg><use xlink:href="#icon-soc-inst"></use></svg></a>
			<a href="https://www.youtube.com/@haimleiwiman2542" target="_blank"><svg><use xlink:href="#icon-soc-yout"></use></svg></a>
			<a href="https://www.tiktok.com/@ndhaimleibiman" target="_blank"><svg><use xlink:href="#icon-soc-tik"></use></svg></a>
		</div>
	</div>
	<hr class="footer__divider">
	<div class="footer__bottom container">
		<a href="https://wwdiv.com/" target="_blank">&copy; Made with &hearts; by WWdiv Studio</a>
	</div>
</footer>

<div class="fly" data-scroll-lock-fill-gap>
	<a class="fly__button" href="./" data-modal="#order">Записаться</a>
</div>

@@include("_modals.html") 
@@include("_sprite.svg")
<script src="common.js"></script> 
</body> 
</html>