<!DOCTYPE html> 
<html lang="ru"> 
<head> 
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
	<meta name="description" content="Диа-Путь — это уникальный шестимесячный онлайн-марафон от экспертов по управлению диабетом. Узнайте, как компенсировать уровень сахара, снизить дозу инсулина и улучшить качество жизни с помощью проверенных методов и индивидуального подхода." />
	<meta name="keywords" content="Диа-Путь, онлайн-марафон, управление диабетом, компенсация диабета, снижение инсулина, здоровье при диабете, диабет 1 типа, диабет 2 типа, эксперты диабета, курс по диабету, лечение диабета, сахарный диабет, восстановление при диабете" />
	<meta property="og:title" content="Диа-Путь: Онлайн-Марафон Экспертов по Управлению Диабетом и Восстановлению Здоровья" />
	<meta property="og:description" content="Уникальный шестимесячный онлайн-марафон для компенсации диабета, снижения доз инсулина и улучшения качества жизни. Присоединяйтесь к команде экспертов!" />
	<meta property="og:image" content="images/hands.webp" /> 
	<link rel="shortcut icon" href="images/favicon.ico"> 
	<link rel="stylesheet" href="style.css"> 
	<title>Диа-Путь: Онлайн-Марафон Экспертов по Управлению Диабетом и Восстановлению Здоровья</title>
</head> 
<body @@if(this.id){id="@@id"}>