<header class="header @@if(this.cls){@@cls}">
	<div class="header__inner container">
		<div class="header__navi">
			<button class="header__close"><svg><use xlink:href="#icon-close"></use></svg></button>
			<div class="header__menu" data-scroll-lock-scrollable>
				<a class="header__link" href="#hero">О мероприятии</a>
				<a class="header__link" href="#speakers">Спикеры</a>
				<a class="header__link" href="#contact">Контакты</a>
				<a class="header__link header__link_button" href="./" data-modal="#order">Записаться</a>
			</div>
		</div>
		<button class="header__toggle"><svg><use xlink:href="#icon-menu"></use></svg></button>
	</div>
</header>