<div class="modal__hidden">
	<div id="order">
		<div class="order">
			<h1 class="order__title">Онлайн — Марафон Экспертов:</h1>
			<div class="order__text">Диа — Путь<br> к успешному управлению диабетом и восстановлению организма</div>
			<form action="./" class="order__form">
				<div class="order__fields">
					<input class="order__field" type="text" name="dia_country" placeholder="Страна проживания">
					<input class="order__field" type="text" name="dia_name" placeholder="Имя">
					<input class="order__field" type="text" name="dia_email" placeholder="e-Mail">
					<input class="order__field" type="text" name="dia_phone" placeholder="+ 7 (999) 999 99 99">
				</div>
				<div class="order__alerts"></div>
				<p class="order__agree">Нажимая на кнопку Участвовать Вы даете согласие на обработку персональных данных</p>
				<button class="order__submit button" href="./">Участвовать</button>
			</form>

			<div class="order__success">
				<img class="order__success-image" src="./images/success.svg" alt="">
				<div class="order__success-text">Заявка успешно отправлена</div>
				<div class="order__success-note">В скором времени мы с вами свяжемся.</div>
				<button class="order__success-button">Ок</button>
			</div>
		</div>
	</div>
	<div id="movie">
		<iframe frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>